/* styles.css */

.gentium-plus-regular {
  font-family: "Gentium Plus", serif;
  font-weight: 400;
  font-style: normal;
}

* {
	font-family: "Gentium Plus", serif;
}

:root {
	/* CSS HEX */
	--lilac: #c398bcff;
	--wisteria: #c1aeeaff;
	--powder-blue: #a7b8ddff;
	--columbia-blue: #b7d0e1ff;
	--flax: #f9f19fff;
}